[submodule "Shoko.Commons"]
	path = Shoko.Commons
	url = https://github.com/shokoanime/Shoko.Commons
[submodule "MPVPlayer.WPF.Wrapper"]
	path = MPVPlayer.WPF.Wrapper
	url = https://github.com/shokoanime/mpvwrapper
