<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
	  <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt" layout="[${shortdate} ${date:format=HH\:mm\:ss\:fff}] ${level}|${stacktrace} ${message}" />
	  <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}| --- ${message}" />
	</targets>
	<rules>
	  <logger name="*" minlevel="Trace" writeTo="file" />
	  <logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
  </nlog>
  <appSettings>
	<add key="JMMServer_Address" value="127.0.0.1" />
	<add key="JMMServer_Port" value="8111" />
	<add key="ImportFolderMappings" value="" />
	<add key="Culture" value="" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
	<NetFx40_LegacySecurityPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="languages"/>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
	<diagnostics wmiProviderEnabled="true" performanceCounters="All">
	  <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
	  <endToEndTracing activityTracing="true" messageFlowTracing="true" />
	</diagnostics>
	<bindings>
	  <basicHttpBinding>
		<binding name="httpLargeMessageStream_IJMMServerImage" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
		  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
		  <security mode="None">
			<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
			<message clientCredentialType="UserName" algorithmSuite="Default" />
		  </security>
		</binding>
	  </basicHttpBinding>
	  <customBinding>
		<binding name="BinaryBinding_IJMMServer">
		  <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
			<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
		  </binaryMessageEncoding>
		  <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
		</binding>
	  </customBinding>
	</bindings>
	<client>
	  <endpoint address="http://localhost:8111/JMMServerImage" binding="basicHttpBinding" bindingConfiguration="httpLargeMessageStream_IJMMServerImage" contract="JMMImageServer.IJMMServerImage" name="httpLargeMessageStream_IJMMServerImage" />
	  <endpoint address="http://localhost:8111/JMMServerBinary" binding="customBinding" bindingConfiguration="BinaryBinding_IJMMServer" contract="JMMServerBinary.IJMMServer" name="BinaryBinding_IJMMServer" />
	</client>
  </system.serviceModel>
  <system.web>
	<membership defaultProvider="ClientAuthenticationMembershipProvider">
	  <providers>
		<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
	  </providers>
	</membership>
	<roleManager defaultProvider="ClientRoleProvider" enabled="true">
	  <providers>
		<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
	  </providers>
	</roleManager>
  </system.web>
</configuration>