name: Build Daily

on:
  push:
    branches: [ master ]
#   pull_request:
#     branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    name: Shoko Desktop daily build

    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive

      - name: Setup MSBuild Path
        uses: warrenbuckley/Setup-MSBuild@v1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.2

      - name: Restore NuGet Packages
        run: nuget restore Shoko.Desktop.sln

      - name: Build
        run: msbuild Shoko.Desktop.sln /p:Configuration=Release /p:DeployOnBuild=true /p:PublishProfile=FolderProfile

      - name: Upload Artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: ShokoDesktop
          path: Shoko.Desktop\bin\Release
      - name: Archive Release
        shell: powershell
        run: Compress-Archive .\\ShokoDesktop\\bin\\Release .\\ShokoDesktop.zip
      - name: Upload Daily to shokoanime.com
        shell: powershell
        env:
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
        run : .\\.github\\workflows\\UploadArchive.ps1
